body {
    background:peachpuff;
  }
  h1 {
    color: green;
    font-weight: bolder;
    font-size: 30px;
    position: fixed;
    height: auto;
    left: 15px;
    width: 300px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  
  }
  nav {
    width: 100%;
    height: 100px;
    background-color: rgb(241, 244, 102);
  }
  ul {
    margin-left: 300px;
  }
  ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
  }
  ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 0 20px;
  }
  ul li a:hover{
    color:brown;
  }
  .img-vegetables{
    width: 1400px;
    height: 400px;
    background-image: url(img/vegetables2.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center right;
    margin-left: 10px;
  }
  .img-vegetables:hover {
    background-size: 100%;

  }
   #img-pasta{
    width: 500px;
    height: 200px;
    background-image: url(img/pasta.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center right;
    
  }
  #img-pasta:hover {
    background-size: 100%;
  }
 .reach {
  color:green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #intro {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
 }
